.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  transition: width 0.2s ease;
  position: relative;
  flex-shrink: 0;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 16px;
}

.sidebarSwitcher {
  position: absolute;
  right: -24px;
  bottom: 24px;
}

.items {
  margin: 10px 0;
  padding: 0 var(--font-size-l);
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.link {
  display: flex;
  align-items: center;
  font: var(--font-l);
}

.linkText {
  margin: 0;
  margin-left: 0.5em;
}

.collapsed {
  width: 40px;
  width: var(--sidebar-width-collapsed);

  .items {
    padding: 0;
  }

  .switchers {
    flex-direction: column;
    row-gap: 16px;
  }

  .link {
    justify-content: center;
  }

  .linkText {
    width: 0;
    display: none;
    margin-left: 0;
  }
}
