.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  transition: width 0.2s ease;
  position: relative;
  flex-shrink: 0;
}

.collapsed {
  width: 40px;
  width: var(--sidebar-width-collapsed);
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 16px;

  &_collapsed {
    flex-direction: column;
    row-gap: 16px;
  }
}

.sidebarSwitcher {
  margin: 0 auto;
  display: block;
}
