.app.light {
  --bg-color: #ddd;
  --inverted-bg-color: #2e2e2e;
  --primary-color: #323a18;
  --inverted-primary-color: #fdfdfd;
  --secondary-color: #657a1f;
  --inverted-secondary-color: #bada55;
}
